@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
body {
  font-family: "Mooli", sans-serif;
}
#app-wrap {

  margin: auto;
  max-width: 500px;
  margin-top: 30px;
  border:5px double rgb(236, 193, 82);
  background-color: beige;
  align-items:center;
  text-align: center;
}



.liwork {
  display: flex;
}
